@import './variables'; // Toujours importer les variables en premier
@import './mixins';

footer {
  background-color: #0000006e;
  color: #fff;
  padding: 1rem 1rem;
  text-align: center;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  p {
    margin: 0.5rem 0;
  }

  a {
    color: #4caf50;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

