$primary-color: #ffffff; // Vert doux pour les accents
$text-color: white; // Gris foncé pour le texte
$background-color: #1a1622; // Blanc cassé pour le fond
$secondary-color: #ffffff; // Couleur secondaire
$font-family: 'Poppins', sans-serif; // Typographie moderne
